body, html {   
  font-family: "Microsoft JhengHei", "Segoe UI", sans-serif; 
}
*,*:before,*:after{
	box-sizing: border-box;
}
ul {
	list-style-type: none;
	padding-left: 0;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	margin : 0 auto;
}
@include pad {
	.container {
			width: 750px;
	}
}
@include desktop {
	.container {
			width: 970px;
	}
}

.header {
	background: $header-bg;
  ul {
		display: flex;
		// justify-content: space-between;
		margin: 0 auto;
		max-width: 660px;
	}
	li {
		width: 220px;
		text-align: center;
		font-size: $main-font-size;
	}
	a {
		display: block;
		padding: 1em;
		text-decoration: none;
		color: $link-color;
    border-bottom: 4px solid transparent;
	}
	.active {
		color: $link-hover-color;
		border-bottom: 4px solid $link-hover-decoration;
	}
}
.main {
	background: $main-bg;
	padding: 15px;
}
.add-block{
	margin: 0 auto;
	max-width: 600px;
	padding: 2.3% 0;
	.add-todo {
		width: 100%;
		padding: 15px 15px 15px 30px;
		border: 2px solid #C8C8C8;
		border-radius: 5px;
		font-size: $main-font-size;
	}
}
.edit-block {
	margin: 0 auto;
	max-width: 600px;
	padding: 2.3% 0;
}
.edit-block .edit-head {
	display: flex;
	justify-content: space-between;
	background: $list-bg;
	padding: 20px 30px;
  .form-check {
		justify-content: flex-start;
		input[type="text"]{
			width: 500px;
			background-color: transparent;
			border-width: 0;
			font-size: 24px;
			outline: none;
		}
	}
	input[type="checkbox"]{
		transform: scale(2); 
		margin-right: 5px;
	}
	.list-text {
		font-size: $main-font-size;
	}
	// .form-edit {
	// 	justify-content: flex-end;
	// 	button {
	// 		@include btn-icon-style;
	// 	}
	// 	i {
	// 		font-size: 20px;
	// 	}
	// }
}

.edit-block .edit-content {
	padding: 20px 30px;
	background: $list-bg;
	border-top: 1px solid black;
	.btn-status {
		@include btn-icon-style;
		display: block;
		span {
			margin-left: 5px;
			font-size: $sub-font-size;
			font-weight: bold;
		}
	}
	.choose-date {
		margin: 10px 25px;
		input {
			margin-right: 10px;
		}
	}
	.choose-file {
		margin: 10px 25px;
		padding: 5px 10px;
		background: #C8C8C8;
		border-radius: 2px;
		i {
			color: #ffffff;
		}
	}
	.comment {
		margin: 10px 25px;
		padding: 10px;
		width: 90%;
		height: 100px;
	}
	.edit-submit {
		margin: 10px 25px;
		text-align: right;
		button {
			margin-right: 15px;
			font-size: $main-font-size;
		}
	}
}

.todo-list {
	margin: 0 auto;
	max-width: 600px;
	li {
		background: $list-bg;
		padding: 20px 30px;
		margin-bottom: 15px;
	}
	.important-bg {
		background: $list-hover-bg;
	}
	.d-flex {
		display: flex;
		justify-content: space-between;
	}
  .form-check {
		justify-content: flex-start;
	}
	input[type=checkbox]{
		transform: scale(2); 
		margin-right: 5px;
	}
	.list-text {
		font-size: $main-font-size;
	}
	.completed {
		text-decoration: line-through
	}
	.status {
		margin: 15px 0 0 15px;
		button {
			@include btn-icon-style;
		}
		span {
			margin-left: 5px;
		}
	}
	.form-edit {
		justify-content: flex-end;
		button {
			cursor: pointer;
			@include btn-icon-style;
		}
		i {
			font-size: 20px;
		}
		.important-star {
			color: $start-active-color;
		}
	}
	
}

