//font
$main-font-size: 24px;
$sub-font-size: 20px;

$btn-cancel-bg: #FFFFFF;
$btn-cancel: #D0021B;
$btn-send-bg: #4A90E2;
$btn-send: #FFFFFF;

// header
$header-bg : #4A90E2;
$link-color: #00408B;
$link-hover-color: #FFFFFF;
$link-hover-decoration: #00408B;

//main
$main-bg: #E1E1E1;
$list-bg: #F2F2F2;
$list-hover-bg: #FFF2DC;
$status-color: #757575;


